@if(authService.currentUserSelect(); as user){
  <div class="content-wrapper">
    <div class="avatar-section">

      <div class="avatar-img-container">
        <img [src]="'http://localhost:8000/uploads/profiles/' + profil?.imageProfil"
             class="avatar-img"
             (error)="updateUrl($event)">
      </div>

      <div class="profile-info">
        <h2>{{ user.pseudo || 'Sans pseudo' }}</h2>
        <p><strong>Email :</strong> {{ user.email || 'Sans email' }}</p>
        <p><strong>Bio : </strong> {{ profil?.bio }}</p>

        <div class="actions">
          <button class="edit-btn-gear" (click)="openEditModal()">⚙️ Modifier</button>
        </div>
      </div>
    </div>

    @if(this.isEditModalOpen){
      <div class="input-group-container">
        <div class="modal-content">
        <h3>Modifier le Profil</h3>

<!--          Pas fonctionnel pour l'instant-->
          <div class="inputOne">
            <label>Pseudo :</label>
            <input type="text" [(ngModel)]="temppseudo" placeholder="Nouveau pseudo">
          </div>

          <div class="inputOne">
            <label>Bio :</label>
            <input type="email" [(ngModel)]="tempbio" placeholder="Nouvelle bio">
          </div>

          <div class="inputOne">
            <label>Photo de Profile : </label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
          </div>

          <div class="modal-actions">
            <button class="btn-cancel" (click)="isEditModalOpen = false">Annuler</button>
            <button class="btn-save" (click)="saveProfil()">Enregistrer</button>
          </div>
        </div>
      </div>
    }

  </div>
} @else {
}
